body {
	color: pink;
	background-color:lightpink;
	font-family: times;
	font-size: 100%;
}
h1 {
	color: white;
	background-color: blue;
	border-style: dotted;
	font-family: arial;
	font-size: 125%;
}
p {
	color: black;
	background-color: rgb(0, 128, 117);
	font-family: verdana;
	font-size:100%;
}
img {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: right;
}
#rcorners {
    border-radius: 100px 100px 100px 100px;
    background:paleturquoise;
    padding: 50px; 
    width: 300px;
    height: 300px; 
    float: right;
}
