body {
              background-color:lavender 
          } 
          hi {
              color:darkviolet
          }
          h2 {
          color:darkviolet
          }
          p {
              color:mediumslateblue
          }
